{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Baner zwykły</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Najbardziej funkcjonalny i najtańszy nośnik reklamowy - to idealna forma reklamy zewnętrznej promującej produkty, usługi, wydarzenia. Wysokojakościowe banery drukujemy materiałach PCV o gramaturze 510 g/m. Są one wytrzymałe na uszkodzenia mechaniczne(rozdarcie), odporne na wilgoć, promieniowanie UV i temperaturę Mogą występować w niemal każdym rozmiarze - stąd też ich wyjątkową skuteczność. Są też łatwe w transporcie. Wykonywane przez nas banery standardowo posiadają zgrzewane brzegi oraz umieszczone co 50 cm aluminiowe oczka.
    </p>

{% endblock %}