{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Baner siatka mesh</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Lekki i wytrzymały materiał o siatkowej strukturze umożliwiający swobodny przepływ powietrza, przeznaczony do największych gabarytowo powierzchni. Stosuję się ją szczególnie w miejscach narażonych na działanie wiatru. Dzięki niskiej wadze nawet największe formaty nie wymagają inwestowania w drogie konstrukcje z pełnej stali.
        <br /><br />
        Krawędzie są zgrzane i zaoczkowane - średnio co ok 50 cm lub wykończone tunelami przelotowymi.
    </p>

{% endblock %}