{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Flaga</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Flagi wykonujemy techniką druku sublimacyjnego. Jest to druk specjalistycznymi atramentami, które pod wpływem podgrzewania (termosublimacji) wnikają głęboko w strukturę materiału łączącymi się z nim, co zapewnia odporność na czynniki zewnętrzne i promienie UV. Flagi wykonane są na materiale, który przepuszcza światło, dzięki czemu nadruk jest widoczny po obu stronach. Materiał jest lekki i bardzo wytrzymały. Flagi mogą być wykończone tunelami przelotowymi, bądź mogą być zaoczkowane. Niewątpliwym plusem metody sublimacyjnej jest łatwość w osiągnięciu przejść tonalnych oraz wszystkich możliwych kolorów, które dobieramy według naszych wzorników opartych na skali Pantone.
        <br /><br />
        Oferujemy flagi i windery z indywidualnym projektem w różnych kształtach, wymiarach oraz  z różnymi systemami mocowania.
    </p>

{% endblock %}