{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Folia zwykła (monomeryczna)</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Folia monomeryczna jest folią ekonomiczną do zastosowań krótko i średniookresowych (trwałość ok. 3lata) na płaskich powierzchniach. Folię tą możemy zadrukować i wycinać do określonego kształtu. Dostępna jest w wersjach: białej (matowej i błyszczącej) oraz bezbarwnej. Folia jest łatwa w aplikacji na płaskie, sztywne i równe powierzchnie, odporna na warunki atmosferyczne. W przypadku zastosowań zewnętrznych folię monomeryczną można dodatkowo zabezpieczyć przez nałożenie laminatu – dodatkowej warstwy bezbarwnej folii chroniącej wydruki mechanicznie i przed promieniowaniem UV.
    </p>

{% endblock %}