{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Folia OWV (One Way Vision)</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        One Way Vision (OWV) to samoprzylepna folia o perforowanej powierzchni przepuszczającej światło. Przeznaczona jest do oklejania witryn, okien, szyb samochodowych itp.<br />
        Folia dzięki swojej unikalnej strukturze zachowuje półprzeźroczyste właściwości, a przy tym pozwala na pełen kolorowy zadruk po stronie zewnętrznej. Folia na okna OWV umożliwia zaprezentowanie grafiki nie ograniczając przy tym całkowicie dostępu światła do wnętrza. Grafika na tego rodzaju folii jest widoczna dla osób znajdujących się na zewnątrz, przysłaniając wnętrze. Osobom we wnętrzu umożliwia obserwowanie tego co znajduje się na zewnątrz i zapewnia dostęp światła dziennego (zredukowanego do 50%).
    </p>

{% endblock %}