{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Folia odblaskowa</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Wydruk na folii odblaskowej może być widoczny przez całą dobę. Najlepiej sprawdza się w pobliżu drogi. Nocą, dzięki specjalnej powłoce, odbija światło reflektorów samochodowych sprawiając, że grafika po zmroku „świeci”(efekt jak w znakach drogowych) i staje się doskonale czytelna.
    </p>

{% endblock %}