{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Kaseton LED</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Oferujemy kasetony jednostronne oraz dwustronne o dowolnym wymiarze. Konstrukcja kasetonu składa się z bocznych ścianek wykonanych z profilu aluminiowego o grubości 14cm. Na życzenie klienta istnieje możliwość pomalowania ramy (dostępna cała gama kolorów z palety RAL). Lico wykonane jest z mlecznej pleksi o grubości 3mm, oklejonej wydrukiem solwentowym lub grafiką wycinaną ploterowo. Oświetlenie to paski lub moduły LED.
    </p>

{% endblock %}