{% extends "oferta.html.twig" %}

{% block content_offer %}

    <h3 class="main-content-label">Koszulki z nadrukiem</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Nadruki na koszulkach wykonujemy metodę termotransferu. Jest to metoda polegająca na wgrzaniu na tkaninę specjalnej folii flex lub flock z uprzednio przygotowanym projektem wyciętym na ploterze tnącym. Właściwa jakość folii, duży nacisk, wysoka temperatura i odpowiednio długi czas wgrzewania gwarantują bardzo wysoką odporność na pranie. Jesteśmy w posiadaniu kilkudziesięciu gotowych projektów koszulek o różnej tematyce, ale wykonujemy również projekty indywidualne, według potrzeb klienta.
    </p>

{% endblock %}