{% extends "oferta.html.twig" %}

{% block content_offer %}

    <h3 class="main-content-label">Litery 3D</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Reklama w formie liter przestrzennych to z pewnością ciekawa propozycja promocji firmy. Litery przestrzenne wykonuje się ze styroduru. Cechuje go wysoka wytrzymałość na ściskanie, lekkość oraz minimalne wchłanianie wody. Litery malowane są akrylową farbą wodoodporną (dostępna cała gama kolorów z palety RAL) co dodatkowo zabezpiecza je przed działaniem czynników atmosferycznych. Istnieje również możliwość uszlachetnienia liter poprzez dodanie lica z płyty PCV, dibondu, bądź plexi. Wymiar płyty do cięcia: 120x58 cm. Cena jest ustalana indywidualnie, w zależności od wielkości i grubości liter.
    </p>

{% endblock %}