{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Obróbka CNC, Cięcie laserem</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        W naszej ofercie wycinanie i frezowanie we wszelkich materiałach reklamowych (pcv, hips, opal, plexi, dibond).
    </p>

{% endblock %}