{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Oklejanie witryn, pojazdów</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Zajmujemy się oklejaniem witryn sklepowych foliami typu one way vision, foliami monomerycznymi oraz grafikami wycinanymi z folii ploterowych. Oklejanie witryn sklepowych, oklejanie szyb i innych miejsc często o dużej powierzchni wymaga wprawy i odpowiednich narzędzi, dlatego bezpieczniej i taniej jest zlecić to profesjonalistom. Wyklejenie witryn sklepu to świetny pomysł na wykorzystanie wolnej powierzchni szyby.
        <br /><br />
        Nasza firma oferuje Państwu także usługi związane z reklamą na samochodach. Począwszy od zaprojektowania
        grafiki, poprzez wykonastwo oraz montaż. Korzystamy z następujących technik tego typu reklamy:
    </p>
    <ul>
        <li>naklejki wycinane ploterem tnącym</li>
        <li>folia monomeryczna (na płaskie powierzchnie)</li>
        <li>folia samochodowa (na przetłoczenia)</li>
        <li>folia one way vision (na powierzchnie przezroczyste)</li>
    </ul>
    <p class="main-content-paragraph">
        Oferujemy też reklamę magnetyczną, która może być wielokrotnie ściągana i zakładana nie tracąc przy tym swoich
        właściwości, nie powoduje zniszczeń lakieru, nie odpada podczas jazdy.
        <br/>
        Używamy tylko sprawdzonych, najwyższej jakości folii odpornych na warunki atmosferyczne - deszcz, wiatr, mróz,
        śnieg.
        <br/><br/>
        Oto kilka powodów dlaczego warto zlecić oklejanie samochodów: 
    </p>
    <ol>

        <li>samochód firmowy to bezpłatny nośnik reklamy wizualnej</li>
        <li>efektowna reklama na samochodach firmowych umacnia pozycję i utrwala wizerunek firmy na rynku</li>
        <li>oklejenie całego pojazdu to dodatkowe zabezpieczenie lakieru przed czynnikami zewnętrznymi</li>
    </ol>
    <br />
    <hr class="article-separator">
    <h6 class="main-content-label">Przykładowe realizacje</h6>
    <div class="row">
        <div class="col-6 col-sm-4 col-lg-3">
            <a href="{{ asset('build/images/realizacje_oklejanie_witryn_pojazdow_1.jpg') }}" data-toggle="lightbox" data-title="Oklejanie samochodu SZEJK-BUD">
                <img class="img-fluid img-thumbnail" src="{{ asset('build/images/realizacje_oklejanie_witryn_pojazdow_1.jpg') }}" alt="Przykład realizacji oklejania pojazdów" />
            </a>
        </div>
    </div>
{% endblock %}