{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Poligrafia</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Zajmujemy się projektowaniem, przygotowaniem do druku i drukiem materiałów takich jak: wizytówki, ulotki, plakaty, katalogi, kalendarze, teczki ofertowe, biuwary, notesy, papier firmowy, pocztówki, etykiety reklamowe i inne. Materiały poligraficzne wykonujemy w różnych nakładach i konfiguracjach dostosowując się do indywidualnych potrzeb klienta. Zapewniamy najwyższą jakość druku, profesjonalne i indywidualne projekty graficzne, szybkie terminy oraz konkurencyjne ceny.
    </p>

{% endblock %}