{% extends "oferta.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Projekty graficzne</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Nasze studio graficzne specjalizuje się w projektowaniu materiałów reklamowych przeznaczonych do druku oraz publikacji w internecie. Korzystamy z najnowszej wersji programu CorelDRAW do tworzenia grafiki oraz edycji fotografii. Pracujemy na urządzeniach najnowszej technologii. Nasza elastyczność pracy pozwala dopasować projekty do każdej klasy budżetowej. Do każdego klienta i projektu podchodzimy indywidualnie i z pełnym zaangażowaniem.
    </p>

{% endblock %}