{% extends "oferta.html.twig" %}

{% block content_offer %}

    <h3 class="main-content-label">Rollup</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Rollup'y stanowią wyjątkowo elegancki i charakteryzujący się nowoczesnym designem system. Są niezwykle szybkie i łatwe w montażu. Zapewniają doskonałą wizualizację firmy lub produktu oraz skutecznie wspierają promocję. Rollup umożliwia łatwą i szybką wymianę grafiki, a także możliwość dopasowania jej wielkości do indywidualnych potrzeb. Po zakończonej prezentacji, grafika zamykana jest w poręcznej kasecie tak, aby nie uległa uszkodzeniu podczas transportu i przechowywania. Każdy stojak reklamowy pakowany jest w oddzielny pokrowiec.
    </p>

{% endblock %}