body {
	background: #0a0a12;
}

.main-container
{
    font-family: "Arial";
}

.breadcrumb {
    background: transparent;
    padding: 0 1em 2em 0.5em;
    font-size: 0.8em;
}

.breadcrumb-item a {
    color: rgba(221, 42, 27, 0.8);
}

.breadcrumb-item.active {
    cursor: default;
}

.btn-default {
    background-color: rgba(221, 42, 27, 0.8);
    color: #FFFFFF;
}

.btn-default:hover {
    background-color: rgba(221, 42, 27, 1);
}

.text-notvalidated {
    color: #FF0000;
}

.realizations-more-than-3 {
    text-align: justify;
    text-align-last: center;
}

.realizations a:hover {
    text-decoration: none;
}

.realizations img {
    display:inline-block;
    max-height: 100px;
}

@media (min-width: 992px) {
    .realizations img {
        display:inline-block;
        max-height: 200px;
    }
}