.header-row
{
    margin-bottom: 1.5em;
    font-size: 1em;
    padding-top: 1em;
    background:rgba(0,0,0,0.8);
}

.header-row [class$="-link"]:hover
{
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0px 0px 1px #AAAAAA;
}

.facebook-link
{
    color: #000099;
    font-weight: bolder;
}

.facebook-link:hover
{
    color: #0000e6;
}

.mail-link
{
    color: #990000;
    font-weight: bolder;
}

.mail-link:hover
{
    color: #e60000;
}

.address-link
{
    color: #009900;
    font-weight: bolder;
}


.address-link:hover
{
    color: #00AA00;
}

.phone-link
{
    color: #8d689e;
    font-weight: bolder;
}

.phone-link:hover
{
    color: #7a4d8e;
}