.header-row, .header-row-blank
{
    font-size: 1em;
    padding: 0.5em 0 0.5em 0;
    line-height: 0;
}

.header-row
{
    background:rgba(0,0,0,0.9);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header-row a:hover
{
    text-decoration: none;
    cursor: pointer;
}

.header-icon
{
    color: #dd2a1b
}

.header-icon:hover
{
    color: #ec3627
}

.header-label
{
    color: #DDDDDD
}

.header-label:hover
{
    color: #FFFFFF
}