.menu-row {
    padding: 0.5em 0 1.5em 0;
}

.menu-row div {
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 3px;
	padding: 0.3em;
}

.menu-row div a {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.menu-row div a:hover {
    color: rgba(221,42,27,1);
}

.menu-row div.active {
	border-bottom: 3px solid rgba(221,42,27,0.8);
	font-style: italic;
}

.submenu-item a {
    color: #EEEEEE;
    text-decoration: none;
}


.submenu-item a:hover {
    border-bottom: 1px solid rgba(221,42,27,0.8);
}