.menu {
    padding: 1em;
    list-style-type: none;
}

.menu li {
    list-style-type: none;
    color: rgba(255, 255, 255, 0.6);
    padding: 0.1em 0 0.1em 0;
    cursor: default;
}

.menu ul {
    padding-inline-start: 1em;
}

.menu li a {
    color: #FFFFFF;
}

.menu li a:hover {
    text-decoration: none;
    border-bottom:1px solid rgba(221, 42, 27, 1);
}

.menu a.active {
    font-weight: bolder;
    font-style: italic;
}

.menu-icon {
    cursor: pointer;
}

.menu-mobile {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.menu-mobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu-mobile a:hover {
    color: #f1f1f1;
}

.menu-mobile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}