{% extends "base.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Folia ploterowa</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Folia ploterowa to kolorowa, samoprzylepna folia najczęściej spotykana na oknach oraz witrynach sklepowych. Naklejki z folii ploterowej to także świetny sposób, by okleić napisami lub innego rodzaju kształtami swoje stanowisko targowe, pojazd, czy nawet wnętrze biura. Wzory wycinane są na specjalnych ploterach tnących. Aplikacja odbywa się na zasadzie usunięcia zbędnych fragmentów folii po wykonaniu nacięć, a następnie za pomocą folii transportowej nałożenia naklejki na powierzchnie reklamową.
    </p>

{% endblock %}