{% extends "base.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Folia samochodowa</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Folia wylewana z klejem kanalikowym stosowana jest głównie do oklejania pojazdów. Charakteryzuje się dużą wytrzymałością i trwałością (do 10 lat) oraz elastycznością. Przeznaczona jest na najbardziej wymagające grafiki na powierzchniach płaskich. Dzięki dobrym parametrom rozciągania może być naniesiona na powierzchnie  z przetłoczeniami, pofałdowane, profilowanie. Klej kanalikowy zapobiega powstawaniu pęcherzyków powietrza przy naklejaniu. W celu zabezpieczenia nadruku i wydłużenia jego żywotności możemy go pokryć specjalnym laminatem stałym dedykowanym dla folii wylewanych.
    </p>

{% endblock %}