{% extends "base.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Magnes</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Folia magnetyczna jest łatwousuwalnym nośnikiem reklamy. Dzięki prostemu sposobowi demontażu i montażu, uzyskasz niezawodną reklamę na samochodzie lub ciekawe motywy np. na lodówkę lub zmywarkę w domu. Dzięki wysokiej przyczepności do elementów stalowych uzyskujesz szybką reklamę bez niebezpieczeństwa uszkodzenia podłoża.
    </p>

{% endblock %}