{% extends "base.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Szyld</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Szyldy reklamowe wykonujemy płyty kompozytowej (dibond) złożonej z kilku warstw aluminium oraz połączonych rdzeniem polietylenowym. Jest ona dużo bardziej wytrzymała niż zwykła blacha aluminiowa oraz łatwo poddaje się obróbce mechanicznej. Dibond jest lekki, sztywny i wykazuje wysoką odporność na działanie czynników zewnętrznych. Zarówno małe tabliczki informacyjne jak i duże szyldy reklamowe wykonujemy metodą tradycyjną. Podkład z dibondu o grubości 3 mm oklejamy folią z pełnokolorowym nadrukiem lub folią ploterową w różnych kolorach (w zależności od rodzaju projektu i upodobań zamawiającego). W celu zabezpieczenia nadruku i wydłużenia jego żywotności wszystkie szyldy zabezpieczamy laminatem stałym w opcji „błysk” lub „mat”.
    </p>

{% endblock %}