{% extends "base.html.twig" %}

{% block title %}
    Kontakt
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kontakt</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <div class="row">
        {# Desktop View #}
        <div class="col-lg-4 d-none d-lg-block">
            <h3 class="contact-label">
                <i class="fas fa-address-card"></i>
                Nazwa firmy
            </h3>
            <h6 class="contact-content">Studo Reklamy Grapart<br/>Grzegorz Bobak</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-money-check-alt"></i>
                NIP
            </h3>
            <h6 class="contact-content">7361560988</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-home fa-1x"></i>
                Adres firmy
            </h3>
            <h6 class="contact-content">Ząb, Szlak Papieski 220<br/>34-521 ZĄB
                <br /><br />
                <span class="contact-mini-content">Biuro czynne od poniedziałku do piątku<br />Od 8:30 do 16:30</span>
            </h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-phone-square fa-1x header-icon"></i>
                Telefon
            </h3>
            <h6 class="contact-content">505 034 758</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-envelope fa-1x header-icon"></i>
                E-mail
            </h3>
            <h6 class="contact-content">reklama@grapart.pl</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fab fa-facebook-square fa-1x header-icon"></i>
                Facebook
            </h3>
            <h6 class="contact-content">Studo Reklamy Grapart</h6>
        </div>
        <div class="col-lg-8 offset-lg-0 col-10 offset-1">
            <img src="{{ asset('build/images/mapa.png') }}" alt="Mapa" class="img-fluid"/>
            <br /><br /><br />
            {# Desktop Contact Form #}
            <div class="d-none d-lg-block">
                <h3 class="contact-label">Formularz kontaktowy</h3>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Adres e-mail">
                        <small id="emailHelp" class="form-text text-muted">Podaj swój adres e-mail, dzieki temu bęziemy mogli się z Tobą skontaktować</small>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" rows="3"  placeholder="Wiadomość"></textarea>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-default">Wyślij wiadomość</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {# Mobile View #}
        <div class="col-lg-4 offset-lg-0 col-10 offset-1 d-block d-lg-none">
            <h3 class="contact-label">
                <i class="fas fa-address-card"></i>
                Nazwa firmy
            </h3>
            <h6 class="contact-content">Studo Reklamy Grapart<br/>Grzegorz Bobak</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-money-check-alt"></i>
                NIP
            </h3>
            <h6 class="contact-content">7361560988</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-home fa-1x"></i>
                Adres firmy
            </h3>
            <h6 class="contact-content">Ząb, Szlak Papieski 220<br/>34-521 ZĄB
                <br /><br />
                <span class="contact-mini-content">Biuro czynne od poniedziałku do piątku<br />Od 8:30 do 16:30</span>
            </h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-phone-square fa-1x header-icon"></i>
                Telefon
            </h3>
            <h6 class="contact-content">505 034 758</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-envelope fa-1x header-icon"></i>
                E-mail
            </h3>
            <h6 class="contact-content">reklama@grapart.pl</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fab fa-facebook-square fa-1x header-icon"></i>
                Facebook
            </h3>
            <h6 class="contact-content">Studo Reklamy Grapart</h6>
            <br /><br />
            {# Mobile Contact Form #}
            <div class="d-block d-lg-none">
                <h3 class="contact-label">Formularz kontaktowy</h3>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Adres e-mail">
                        <small id="emailHelp" class="form-text text-muted">Podaj swój adres e-mail, dzieki temu bęziemy mogli się z Tobą skontaktować</small>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" rows="3"  placeholder="Wiadomość"></textarea>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-default">Wyślij wiadomość</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br /><br /><br />

{% endblock %}
