{% extends "base.html.twig" %}

{% block title %}
    Kontakt
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kontakt</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <div class="row">
        {# Desktop View #}
        <div class="col-lg-4 d-none d-lg-block">
            <h3 class="contact-label">
                <i class="fas fa-address-card"></i>
                Nazwa firmy
            </h3>
            <h6 class="contact-content">Studio Reklamy Grapart<br/>Grzegorz Bobak</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-money-check-alt"></i>
                NIP
            </h3>
            <h6 class="contact-content">7361560988</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-home fa-1x"></i>
                Adres firmy
            </h3>
            <h6 class="contact-content">Szlak Papieski 220<br/>34-521 Ząb
            </h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-phone-square fa-1x header-icon"></i>
                Telefon
            </h3>
            <h6 class="contact-content">505 034 758</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-envelope fa-1x header-icon"></i>
                E-mail
            </h3>
            <h6 class="contact-content">reklama@grapart.pl</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fab fa-facebook-square fa-1x header-icon"></i>
                Facebook
            </h3>
            <h6 class="contact-content">Studio Reklamy Grapart</h6>
        </div>
        <div class="col-lg-8 offset-lg-0 col-10 offset-1">
            <div id="map"></div>
        </div>
        {# Mobile View #}
        <div class="col-lg-4 offset-lg-0 col-10 offset-1 mt-3 d-block d-lg-none">
            <h3 class="contact-label">
                <i class="fas fa-address-card"></i>
                Nazwa firmy
            </h3>
            <h6 class="contact-content">Studio Reklamy Grapart<br/>Grzegorz Bobak</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-money-check-alt"></i>
                NIP
            </h3>
            <h6 class="contact-content">7361560988</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-home fa-1x"></i>
                Adres firmy
            </h3>
            <h6 class="contact-content">Szlak Papieski 220<br/>34-521 Ząb
            </h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-phone-square fa-1x header-icon"></i>
                Telefon
            </h3>
            <h6 class="contact-content">505 034 758</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fas fa-envelope fa-1x header-icon"></i>
                E-mail
            </h3>
            <h6 class="contact-content">reklama@grapart.pl</h6>
            <hr class="contact-separator">
            <h3 class="contact-label">
                <i class="fab fa-facebook-square fa-1x header-icon"></i>
                Facebook
            </h3>
            <h6 class="contact-content">Studio Reklamy Grapart</h6>
            <br /><br />
        </div>
    </div>
    <br /><br /><br />

{% endblock %}

{% block javascript %}
    {% verbatim %}
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 49.3374358, lng: 19.9472512},
                zoom: 15
            });

            var request = {
                placeId: 'ChIJWwYq4THtFUcRwio5vLnJpgU',
                fields: ['name', 'formatted_address', 'geometry', 'icon']
            };

            var infowindow = new google.maps.InfoWindow();
            var service = new google.maps.places.PlacesService(map);

            service.getDetails(request, function(place, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: place.geometry.location
                    });
                    infowindow.setContent('<div class="map_modal">' +
                        '<h4>' + place.name +
                        '</h4>' +
                        '<h6>' + place.formatted_address +
                        '</h6>' +
                        '<h7><a href="https://www.google.pl/maps/place/Studio+Reklamy+GRAPART/@49.336344,19.9479114,19z/data=!4m12!1m6!3m5!1s0x4715ed31e12a065b:0x5a6c9b9bc392ac2!2sStudio+Reklamy+GRAPART!8m2!3d49.3364323!4d19.9484452!3m4!1s0x4715ed31e12a065b:0x5a6c9b9bc392ac2!8m2!3d49.3364323!4d19.9484452" target="_blank" />Zobacz szczegóły na Mapach Google</a>' +
                        '</h7>' +
                        '</div>');

                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.open(map, this);
                    });
                    infowindow.open(map, marker);
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6l6a6Ul8dt2oq2DRGo4cTsHC1maxoszc&libraries=places&callback=initMap"
            async defer></script>
    {% endverbatim %}
{% endblock %}
