{% extends "base.html.twig" %}

{% block content %}

    <h3 class="main-content-label">Oferta</h3>
    <hr class="article-separator">
    <ul class="services-list">
        {% for item in subcategory %}
            <li>
                <a href="{{ path('subcategory', {'categoryUrl': category.url, 'url': item.url}) }}">
                    {{ item.label|e }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
