{% extends "base.html.twig" %}

{% block content %}

    <div style="margin:0 25% 0 25%">
        <img src="{{ asset('build/images/strona-w-budowie.png') }}" style="width: 100%" />
    </div>

{% endblock %}
